Project Charter/project_charter.log
Project Charter/project_charter.pdf
Project Charter/project_charter.toc
Project Charter/project_charter.log
Project Charter/project_charter.aux
Project Charter/project_charter.synctex.gz