Project Charter/project_charter.log
Project Charter/project_charter.pdf
Project Charter/project_charter.toc
Project Charter/project_charter.aux
Project Charter/project_charter.synctex.gz
Project Charter/project_charter.synctex.gz(busy)
Project Charter/project_charter.lof
Project Charter/project_charter.ver
Project Charter/project_charter.hst
Project Charter/project_charter.pdf
System Req Spec/system_requirements_specification.synctex.gz
System Req Spec/system_requirements_specification.aux
System Req Spec/system_requirements_specification.hst
System Req Spec/system_requirements_specification.lof
System Req Spec/system_requirements_specification.log
System Req Spec/system_requirements_specification.toc
System Req Spec/system_requirements_specification.ver
System Req Spec/system_requirements_specification.pdf
jsconfig.json
website/json/utasmart_data.json
.vscode/*